body {
    background-image: url(biryani\ background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
img.uwu {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }  