body {
    background-image: url(biryani\ background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Comic Sans MS;
    font-size: x-large;
}
a {
    background-color: white;
  }
img.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }  